body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #975c34;
    color: white;
    padding-top: 30px;
    padding-bottom: 5px;
    min-height: 70px;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 50px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #ffffff;
    font-weight: bold;
}

.book {
    border: 1px solid #e6e6e6;
    background: #fff;
    padding: 67px;
    margin-bottom: 10px;
}

.book img {
    width: 100px;
    float: left;
    margin-right: 20px;
}

.book h3 {
    margin: 0;
    padding: 0;
}

.book p {
    color: #555;
}

footer {
    padding: 20px;
    color: #ffffff;
    background-color: #975c34;
    text-align: center;
}

.cart-count {
  padding: 1px 15px;
  border-radius: 50%;
  background-color: red;
  color: white;
}

.search-container {
  width: 100%; /* Full width of its parent */
  max-width: 1200px; /* Limits the maximum width */
  margin: 0 auto; /* Centers the container */
  padding: 0 10%; /* Adds padding to the left and right */
  box-sizing: border-box; /* Ensures padding is included in the width */
}

#searchBar {
  width: 80%; /* Adjusted width */
  margin: 0 auto; /* Centers the search bar */
  padding: 10px; /* Adjust padding to your preference */
  border-radius: 25px; /* Rounded corners */
  /* Add any other styles for the search bar */
}


/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #514b82;
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}
@keyframes l20-1{
   0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
   12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
   25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
   50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
   100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes l20-2{ 
  0%    {transform:scaleY(1)  rotate(0deg)}
  49.99%{transform:scaleY(1)  rotate(135deg)}
  50%   {transform:scaleY(-1) rotate(0deg)}
  100%  {transform:scaleY(-1) rotate(-135deg)}
}

/* Show Cart Button */
.show-cart-btn:hover {
  position: auto;
  border: none;
  cursor: pointer;
  /* Add any additional properties you wish */
}

/* Add to Cart Button */
.add-to-cart-btn {
  position: auto;
  border: none;
  cursor: pointer;
  /* Add any additional properties you wish */
}

/* Login Button */
.login-btn {
  position: auto;
  border: none;
  cursor: pointer;
  /* Add any additional properties you wish */
}

/* Logout Button */
.logout-btn {
  position: auto;
  border: none;
  cursor: pointer;
  /* Add any additional properties you wish */
}

/* Home Button */
.home-btn {
  position: auto;
  border: none;
  cursor: pointer;
  /* Add any additional properties you wish */
}

/* Register Button */
.register-btn {
  position: auto;
  border: none;
  cursor: pointer;
  /* Add any additional properties you wish */
}

/* Search Button */
.search-btn {
  position: auto;
  padding: 10px; /* Adds some space inside the search bar */
  border-radius: 25px; /* Gives rounded corners to the search bar */
  border: 1px solid #ccc; /* Optional: Adds a border to the search bar */
  /* Additional optional styling */
  box-sizing: border-box; /* Ensures padding doesn't affect the final width */
}

 /* Register Button*/
.register-btn:hover {
  background-color: #804d2c; /* Darker shade of green */
  border-radius: 20px;
}


/* Add to Cart Button */
.add-to-cart-btn:hover {
  background-color: #d1d1d1; /* Darker shade of green */
  border-radius: 20px;
}

/* Show Cart Button */
.show-cart-btn:hover {
  background-color: #804d2c; /* Darker shade of green */
  border-radius: 20px;
}

/* Login Button */
.login-btn:hover {
  background-color: #804d2c; /* Darker shade of green */
  border-radius: 20px;
}

/* Logout Button */
.logout-btn:hover {
  background-color: #804d2c; /* Darker shade of green */
  border-radius: 20px;
}

/* Home Button */
.home-btn:hover {
  background-color: #804d2c; /* Darker shade of green */
  border-radius: 20px;
}

/* Register Button */
.register-btn:hover {
  background-color: #804d2c; /* Darker shade of green */
  border-radius: 20px;
}

/* Search Button */
.search-btn:hover {
  background-color: #804d2c; /* Darker shade of green */
  border-radius: 20px;
}