body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #50b3a2;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #ffffff;
    font-weight: bold;
}

.book {
    border: 1px solid #e6e6e6;
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.book img {
    width: 100px;
    float: left;
    margin-right: 20px;
}

.book h3 {
    margin: 0;
    padding: 0;
}

.book p {
    color: #555;
}

footer {
    padding: 20px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
}

.flash {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid transparent;
    border-radius: 5px;
}

.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.flash-message {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    text-align: center;
}

.flash-message.info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 0.9em;
    line-height: 1;             /* Adjust line height to center the text vertically */
    min-width: 20px;            /* Minimum width to form a circular shape */
    text-align: center;         /* Center text horizontally */
    box-shadow: 0 1px 3px rgba(0,0,0,0.3); /* Optional: Adds a shadow for depth */
    }
    

/* ... other styles for success and error messages ... */
