{% extends 'layout.html' %}

{% block title %}Shopping Cart{% endblock %}

{% block content %}
    <h2>Your Shopping Cart</h2>
    {% if cart %}
        <div class="books">
            {% for book in cart %}
                <div class="book">
                    <img src="{{ book.cover }}" alt="{{ book.title }}">
                    <h3>{{ book.title }}</h3>
                    <p>Author: {{ book.author }}</p>
                    <p>Price: ${{ book.price }}</p>
                    <a href="{{ url_for('remove_from_cart', book_id=book['id']) }}">
                        <img src="https://as1.ftcdn.net/jpg/05/98/80/10/160_F_598801090_FQd7M3KmKhcTg28znERuuRzdS07ONK6T.png" alt="Remove from cart" style="width: 50px; height: 50px;">
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
{% endblock %}
